/* Navbar Styles */
nav {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
}

#nav {margin: 1rem;}

#user-nav {height: 3rem;}

#user-nav #user-name{
  width: 15rem;
  font-size: 1rem;
  position: relative;
}

#user-nav .logout-container {
  display: none;
  position: absolute;
  left: 2rem;
  top: 2.5rem;
}

#user-nav:hover .logout-container { display: block;}

#user-container .nes-btn {width: 15rem;}


#title {
  font-size: 1.5rem;
  color: rgb(146, 204, 65);
}

#indecisive {
  font-family: 'Gloria Halllelujah', cursive;
  color: rgb(247, 213, 29);
  font-size: 1.7rem;
  letter-spacing: 2px;
}

nav .links-container {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.links-container .user-links{
  font-size: 0.6rem;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
}

/* Library Styles */

#library {
  padding-bottom: 5rem;
}

#library-nav {
  width: 90%;
  margin: 1rem auto;
  padding: 0.5rem 0;
  background-color: rgb(200, 200, 200);
}

#library-nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#library-nav ul li {
  width: 15%;
}

#card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* GameCard Styles */

#game-card {
  height: 20rem;
  width: 15rem;
  margin: 2rem;
  margin-bottom: 7rem;
}

#game-card .with-title {
  height: 20rem;
}

#game-card .card-title {
  margin-top: -2.5rem;
  font-size: 0.6rem;
  padding: 0.9rem 0.4rem;
}

#game-card .box-art-container {
  height: 15rem;
}

#game-card .box-art-container img {
  border-radius: 10px;
}

#game-card:hover .is-centered {
  background-color: rgb(53, 204, 255);
}

#game-card:hover #interaction-container {
  background-color: rgb(127, 133, 128);
}

#interaction-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

#hide .message, 
#own .message,
#play .message,
#like .message {
  position: relative;
}

.message .from-left {
  display: none;
  position: absolute;
  top: -6rem;
  padding: 0.5rem 0.75rem;
  left: -1.5rem;
}

.message .from-right {
  display: none;
  position: absolute;
  top: -6rem;
  left: -4.5rem;
  padding: 0.5rem 0.75rem;
}

#hide-false .from-left,
#hide-true .from-left {
  top: -7rem;
}

#own-false .from-left,
#play-false .from-right {
  top: -8rem;
}

#like-false .from-right {
  top: -7rem;
  left: -3rem;
}

#own-true .from-left,
#play-true .from-right {
  top: -9.1rem;
}

#like-true .from-right {
  top: -7rem;
  left: -4.5rem;
}

#close-disable .nes-icon.close::before {
  color: rgb(173, 175, 187);
}

#own-disable .nes-icon.coin::before,
#play-disable .nes-icon.trophy::before {
  color: rgb(245, 245, 220);
}

#own-false .nes-icon.coin::before,
#play-false .nes-icon.trophy::before {
  color: rgb(200, 200, 200);
}

#hide-true .nes-icon.close::before {
  color: rgb(242, 36, 38);
}

#hide:hover .message .from-left,
#own:hover .message .from-left,
#play:hover .message .from-right,
#like:hover .message .from-right {
  display: block;
}


/* Highlight Styles */
#highlight {
  background-color: rgb(0, 67, 165);
  user-select: none;
}

#highlight-description {
  color: white;
  display: flex;
  align-items: center;
}

#game-text {
  padding-right: 1rem;
  max-width: 70%;
}

#game-text h3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

#game-text h5 {
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

#game-text p {
  letter-spacing: 1px;
  line-height: 1.5rem;
}

.tag-container h3 {
  text-align: left;
  font-size: 1.1rem;
  padding-left: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.tag-container #genre-title {
  font-size: 1.1rem;
}

#platform-title {
  margin-top: 0.5rem;
}

.badge-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.badge-container .badge {
  width: 26%;
  padding: 0.5rem;
  color: white;
}

.badge p {
  border: 3px solid black;
  background-color: rgb(231, 110, 85);
  font-size: 0.6rem;
  text-shadow: 1px 1px 3px rgb(200, 200, 200);
  padding: 0.3rem;
}

#game-image-container {
  padding: 1rem 0.3rem;
}

#game-image-container img {
  border: 0.5rem ridge white;
  border-radius: 5px;
}

#platform .badge p {
  background-color: rgb(32, 156, 238);
}

.container .preview-container {
  background-color: rgb(38, 64, 120);
  margin-top: 3rem;
}

#preview-title {
  margin-top: -2rem;
  padding: 0.5rem 1rem;
}

.preview-container .preview-card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.preview-card-container .preview-card {
  width: 20%;
  height: 22rem;
  margin: 0.75rem 0.5rem;
}

.preview-card-container .preview-card .title {
  font-size: 0.5rem;
}

.preview-card .img-container img {
  border-radius: 10px;
}

.preview-container .preview-card:hover {
  background-color: rgb(53, 204, 255);
}

/* SignIn Styles */
.form-container {
  padding: 0 25%;
  margin: 2rem 0;
}

.form-container .nes-container.is-rounded.with-title>.title{
  margin-top: -2rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
}

.form-container form:hover {
  background-color: rgb(53, 204, 255);
}

#sign-in .form-container form div{
  text-align: left;
}

#sign-in .form-container form label {
  font-size: 1rem;
  text-transform: uppercase;
  padding-top: 1rem;
}

form .nes-btn {
  margin-top: 1rem;
  text-transform: uppercase;
}

/* SuggestionPage Styles */
