nav {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
}

nav #user-container {
  margin-left: 2rem;
}

#indecisive {
  font-family: 'Gloria Halllelujah', cursive;
}

nav .links-container {
  display: flex;
  justify-content: space-around;
  width: 35%;
}
